.section-costs {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.section-costs .section-cost-top {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 42px;
  font-weight: 400;
  color: white;
  margin-bottom: 60px;
}
.section-costs .costs-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.section-costs .costs-top .cost-section-left {
  width: 38%;
  margin-left: 2%;
  text-align: start;
}
.section-costs .costs-top .cost-section-left h1 {
  font-size: 30px;
  line-height: 40px;
  color: rgb(115, 120, 119);
  padding-top: 1%;
}
.section-costs .costs-top .cost-section-rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-costs .costs-top .cost-section-rigth .cost-section2,
.section-costs .costs-top .cost-section-rigth .cost-section3,
.section-costs .costs-top .cost-section-rigth .cost-section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 80%;
  gap: 15px;
  text-align: start;
  margin-bottom: 4%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2::after,
.section-costs .costs-top .cost-section-rigth .cost-section3::after,
.section-costs .costs-top .cost-section-rigth .cost-section4::after {
  content: "";
  display: block;
  width: 550px;
  height: 0.5px;
  background-color: rgb(61, 65, 64);
  margin-top: 15px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1 h2,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1 h2,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 h2 {
  font-size: 30px;
  color: white;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1 p,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1 p,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 p {
  color: white;
  font-size: 15px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok2,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok2,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok2 p,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok2 p,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok2 p {
  font-size: 17px;
  color: rgb(115, 120, 119);
  margin-bottom: 2%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3 .btn-discuss,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3 .btn-discuss,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 .btn-discuss {
  background-color: transparent;
  color: white;
  font-size: 25px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3 .btn-discuss:hover,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3 .btn-discuss:hover,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 .btn-discuss:hover {
  color: rgb(2, 234, 29);
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3 .btn-include,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3 .btn-include,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 .btn-include {
  border: none;
  background-color: transparent;
  font-size: 22px;
  text-decoration: underline;
  color: rgb(115, 120, 119);
  font-size: 22px;
  text-decoration: underline;
}
.section-costs .costs-top .btn-costs {
  border: none;
  width: 500px;
  background-color: rgba(191, 246, 202, 0.5490196078);
  color: hsl(115, 100%, 15%);
  height: 77px;
  border-radius: 28px;
  font-size: 30px;
  margin-bottom: 10%;
  cursor: pointer;
}
.section-costs .costs-top .btn-costs:hover {
  background-color: rgb(2, 234, 29);
}
.section-costs .floating-label {
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 11px rgb(11, 189, 11);
          box-shadow: 0px 2px 11px rgb(11, 189, 11);
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-costs .label1 {
  top: 20%;
  left: 9%;
}
.section-costs .label1 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label2 {
  top: 13%;
  left: 2%;
}
.section-costs .label2 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label3 {
  top: 32%;
  left: 22%;
}
.section-costs .label3 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label4 {
  top: 87%;
  left: 29%;
}
.section-costs .label4 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label5 {
  top: 26%;
  left: 16%;
}
.section-costs .label5 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label6 {
  top: 39%;
  left: 27%;
}
.section-costs .label6 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label7 {
  top: 80%;
  left: 21%;
}
.section-costs .label7 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label8 {
  top: 72%;
  left: 13%;
}
.section-costs .label8 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .label9 {
  top: 64%;
  left: 4%;
}
.section-costs .label9 i {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.section-costs .more-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 3%;
}
.section-costs .more-services .btn-more-services {
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-costs .more-services .btn-more-services::before, .section-costs .more-services .btn-more-services::after {
  content: "";
  display: block;
  width: 600px;
  height: 0.5px;
  background-color: rgb(34, 243, 34);
  margin: 0 20px;
}
.section-costs .more-services .btn-more-services:hover::before, .section-costs .more-services .btn-more-services:hover::after {
  background-color: rgb(34, 243, 34);
}