@import "variables.scss";
@import "mixins.scss";

.section-costs {
  // background-image: url("../img/section3.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .section-cost-top {
    font-size: $sectionFont-Sise;
    margin-top: 70px;
    margin-left: $sectionMargin-left;
    font-weight: $sectionFont-weight;
    color: $textcolor;
    margin-bottom: 60px;
  }

  .costs-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .cost-section-left {
      width: 38%;
      margin-left: 2%;
      text-align: start;

      h1 {
        font-size: 30px;
        line-height: 40px;
        color: rgb(115 120 119);
        padding-top: 1%;
      }
    }

    .cost-section-rigth {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .cost-section2,
      .cost-section3,
      .cost-section4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: $textcolor;
        width: 80%;
        gap: 15px;
        text-align: start;
        margin-bottom: 4%;

        &::after {
          content: "";
          display: block;
          width: 550px;
          height: 0.5px;
          background-color: rgb(61, 65, 64);
          margin-top: 15px;
        }

        .blok1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-bottom: 1%;

          h2 {
            font-size: 30px;
            color: $textcolor;
          }

          p {
            color: $textcolor;
            font-size: 15px;
          }
        }
        .blok2 {
          display: block;
          flex-direction: column;
          align-items: center;

          p {
            font-size: 17px;
            color: rgb(115 120 119);
            margin-bottom: 2%;
          }
        }

        .blok3 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .btn-discuss {
            background-color: transparent;
            color: $textcolor;
            font-size: 25px;
          }

            .btn-include {
              border: none;
              background-color: transparent;
              font-size: 22px;
              text-decoration: underline;
              color: rgb(115 120 119);font-size: 22px;
              text-decoration: underline;
             
            }
          
        }
      }
    }

    .btn-costs {
      border: none;
      width: 500px;
      background-color: $ligthgreen;
      color: $darkgreen;
      height: 77px;
      border-radius: 28px;
      font-size: 30px;
      margin-bottom: 10%;
      cursor: pointer;
      &:hover {
        background-color: $green;
      }
    }
  }

  .floating-label {
    position: absolute;
    background-color: $textcolor;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 11px rgb(11, 189, 11);

    // Используем миксин для добавления анимации

    @include float-animation(3s, 15px)
      // Передаем время анимации и расстояние движения
;
  }
  .label1 {
    top: 20%;
    left: 9%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label2 {
    top: 13%;
    left: 2%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label3 {
    top: 32%;
    left: 22%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label4 {
    top: 87%;
    left: 29%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label5 {
    top: 26%;
    left: 16%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label6 {
    top: 39%;
    left: 27%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label7 {
    top: 80%;
    left: 21%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label8 {
    top: 72%;
    left: 13%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }
  .label9 {
    top: 64%;
    left: 4%;
    i {
      margin-right: 10px;
      font-size: 20px;
      color: black;
    }
  }

  .more-services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;

    .btn-more-services {
      position: relative;
      border: none;
      background-color: transparent;
      color: $textcolor;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 600px;
        height: 0.5px;
        background-color: rgb(34, 243, 34);
        margin: 0 20px;
      }

      &:hover::before,
      &:hover::after {
        background-color: rgb(34, 243, 34);
      }
    }
  }
}
