.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}
.main-header .header-conteiner .logo {
  font-weight: 500;
  font-style: normal;
  color: #ebffeb;
  margin-left: 2%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo .logo-next {
  margin-right: 15px;
}
.main-header .header-conteiner .logo a {
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .header-conteiner .logo a i {
  color: #ebffeb;
}
.main-header .header-conteiner .logo a:hover, .main-header .header-conteiner .logo a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebffeb;
  border-radius: 20px;
}
.main-header .header-conteiner li {
  margin: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.main-header .header-conteiner li a {
  color: #181d18;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner a {
  margin-right: 1%;
}
.main-header .header-conteiner a .btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}