.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1920px;
  width: 100%;
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7%;
}
.main-header .header-conteiner .logo {
  font-weight: 500;
  font-style: normal;
  color: #ebffeb;
  margin-left: 2%;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo:hover, .main-header .header-conteiner .logo:focus {
  color: rgb(58, 139, 128);
  text-decoration: none;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebffeb;
  border-radius: 20px;
  padding-left: 2%;
}
.main-header .header-conteiner li {
  margin: 0px 35px 14px 0px;
  padding-top: 2%;
}
.main-header .header-conteiner li a {
  color: #181d18;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: rgb(58, 139, 128);
  text-decoration: none;
}
.main-header .header-conteiner a {
  display: block;
  margin-right: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner a .btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner a .btn-discuss:hover, .main-header .header-conteiner a .btn-discuss:focus {
  color: rgb(58, 139, 128);
  text-decoration: none;
}

@media (max-width: 1280px) {
  .main-header {
    width: 100%;
    max-width: 1280px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 15px;
  }
  .main-header .header-conteiner a .btn-discuss {
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
    font-weight: 500;
    height: 40px;
  }
}
@media (max-width: 1024px) {
  .main-header {
    width: 100%;
    max-width: 1024px;
  }
  .main-header .header-conteiner .logo .logo-next {
    margin-right: 4px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 15px;
  }
  .main-header .header-conteiner a .btn-discuss {
    height: 34px;
  }
}
@media (max-width: 760px) {
  .main-header {
    width: 100%;
    max-width: 760px;
  }
  .main-header .header-conteiner .logo .logo-next {
    font-size: 17px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 13px;
  }
  .main-header .header-conteiner a {
    font-size: 13px;
  }
  .main-header a .btn-discuss {
    height: 25px;
    font-size: 13px;
    max-width: 130px;
  }
}
@media (max-width: 460px) {
  .main-header {
    width: 90%;
    max-width: 460px;
  }
  .main-header .header-conteiner {
    padding: 8px;
  }
  .main-header .header-conteiner .logo .logo-next {
    font-size: 10px;
    margin-right: 5px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 9px;
    margin-right: 7px;
    margin-left: 5px;
  }
  .main-header .header-conteiner .ul-header li {
    margin-top: 0px;
    margin-left: -6px;
  }
  .main-header .header-conteiner .ul-header li a {
    font-size: 8px;
  }
  .main-header .header-conteiner a .btn-discuss {
    height: 20px;
    font-size: 9px;
    max-width: 90px;
  }
}
@media (max-width: 420px) {
  .main-header {
    width: 100%;
    max-width: 420px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 8px;
  }
  .main-header .header-conteiner .ul-header li {
    margin-top: 0px;
    margin-left: -6px;
  }
  .main-header .header-conteiner .ul-header li a {
    font-size: 8px;
  }
  .main-header .header-conteiner a .btn-discuss {
    font-size: 8px;
    max-width: 79px;
  }
}