@import "variables.scss";

.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1920px;
  width: 100%;

  .header-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7%;

    .logo {
      font-weight: 500;
      font-style: normal;
      color: $ligthgreen;
      margin-left: 2%;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover,
      &:focus {
        color: $green;
        text-decoration: none;
      }
    }

    .ul-header {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $ligthgreen;
      border-radius: 20px;
      padding-left: 2%;
    }

    li {
      margin: 0px 35px 14px 0px;
      padding-top: 2%;

      a {
        color: $darkgreen;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $green;
          text-decoration: none;
        }
      }
    }

    a {
      display: block;
      margin-right: 3%;
      align-items: center;

      .btn-discuss {
        border: none;
        background-color: $ligthgreen;
        color: $darkgreen;
        font-size: 22px;
        border-radius: 20px;
        width: 250px;
        font-weight: 600;
        height: 50px;
        align-items: center;

        &:hover,
        &:focus {
          color: $green;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .main-header {
    width: 100%;
    max-width: 1280px;

    .header-conteiner {
      .logo {
        a {
          font-size: 15px;
        }
      }

      a {
        .btn-discuss {
          font-size: 20px;
          border-radius: 20px;
          width: 200px;
          font-weight: 500;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-header {
    width: 100%;
    max-width: 1024px;

    .header-conteiner {
      .logo {
        .logo-next {
          margin-right: 4px;
        }
        a {
          font-size: 15px;
        }
      }

      a {
        .btn-discuss {
          height: 34px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .main-header {
    width: 100%;
    max-width: 760px;

    .header-conteiner {
      .logo {
        .logo-next {
          font-size: 17px;
        }
        a {
          font-size: 13px;
        }
      }

      a {
        font-size: 13px;
      }
    }

    a {
      .btn-discuss {
        height: 25px;
        font-size: 13px;
        max-width: 130px;
      }
    }
  }
}

@media (max-width: 460px) {
  .main-header {
    width: 90%;
    max-width: 460px;

    .header-conteiner {
      padding: 8px;
      .logo {
        .logo-next {
          font-size: 10px;
          margin-right: 5px;
        }
        a {
          font-size: 9px;
          margin-right: 7px;
          margin-left: 5px;
        }
      }
      .ul-header li {
        margin-top: 0px;
        margin-left: -6px;

        a {
          font-size: 8px;
        }
      }

      a {
        .btn-discuss {
          height: 20px;
          font-size: 9px;
          max-width: 90px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .main-header {
    width: 100%;
    max-width: 420px;

    .header-conteiner {
      .logo {
        a {
          font-size: 8px;
        }
      }
      .ul-header li {
        margin-top: 0px;
        margin-left: -6px;

        a {
          font-size: 8px;
        }
      }

      a {
        .btn-discuss {
          font-size: 8px;
          max-width: 79px;
        }
      }
    }
  }
}
