.modal-more-services {
  display: none;
  background-color: rgba(191, 246, 202, 0.5490196078);
  border: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  width: 1300px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-more-services .close-modal-more {
  font-size: 40px;
  color: hsl(115, 100%, 15%);
  margin-left: 2%;
}
.modal-more-services .more-services-wrapper {
  padding: 0 2% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-more-services .more-services-wrapper .more-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-more-services .more-services-wrapper .more-top .more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50%;
}
.modal-more-services .more-services-wrapper .more-top .more-section::after {
  content: "";
  display: block;
  width: 500px;
  height: 0.5px;
  background-color: hsl(115, 100%, 15%);
  margin-bottom: 3%;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left h1 {
  font-size: 22px;
  color: hsl(115, 100%, 15%);
  margin-bottom: 10px;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left p {
  font-size: 15px;
  color: rgb(32, 58, 49);
  max-width: 95%;
  margin-bottom: 15px;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 250px;
  margin-bottom: 20px;
}
.modal-more-services .more-services-wrapper .more-top .more-section h3 {
  font-size: 17px;
  color: hsl(115, 100%, 15%);
  text-align: end;
}
.modal-more-services .more-services-wrapper .more-top .more-section h2 {
  font-size: 17px;
  color: hsl(115, 100%, 15%);
}
.modal-more-services .more-services-wrapper .more-buttom {
  margin: auto;
  margin-bottom: 1%;
}
.modal-more-services .more-services-wrapper .more-buttom .btn-discuss {
  border: none;
  background-color: hsl(115, 100%, 15%);
  color: rgba(191, 246, 202, 0.5490196078);
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 270px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}