@import "variables.scss";



.modal-more-services {
    display: none;
    background-color: rgb(179, 206, 179);
    border: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 1300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

    .close-modal-more{
      font-size: 40px;
      color: black;
      margin-left: 2%;
    }

  .more-services-wrapper {
    padding: 0 2% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .more-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .more-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 50%;

        &::after {
          content: "";
          display: block;
          width: 500px;
          height: 0.5px;
          background-color: black;
          margin-bottom: 3%;
        }

        .section-left {
          display: flex;
          flex-direction: column;
          align-items: start;
          

          h1{
            font-size: 22px;
            color: black;
            margin-bottom: 10px;
          }

          p{
            font-size: 15px;
            color: black;
            max-width: 95%;
            margin-bottom: 15px;
          }
        }
        .section-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 250px;
          margin-bottom: 20px;

        }
        h3{
            font-size: 17px;
            color: black;
            text-align: end;
        }
        h2{
            font-size: 17px;
            color: black;
        }
      }
    }

    .more-buttom {
      margin: auto;
      margin-bottom: 1%;
      
      .btn-discuss {
        border: none;
        background-color: black;
        color: $textcolor;
        font-size: 22px;
        border-radius: 20px;
        margin-right: 25px;
        width: 270px;
        font-weight: 600;
        height: 50px;
        padding: 8px;
        margin-top: 8px;
      }
    }
  }
}
