@import "variables.scss";

.modal-calculete-costs {
    display: none;
    background-color: $ligthgreen;
    padding: 1%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .close-modal-costs{
        font-size: 18px;
        color: $darkgreen;
    }

  .costs-wrapper {
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    h3:first-of-type {
      font-size: 20px;
      color: $darkgreen;
      margin-bottom: 3%;
    }

    p:first-of-type {
      font-size: 15px;
      color: $darkgreen;
      margin-bottom: 5%;
    }
    // Стили для радио-кнопок и их лейблов
    .radio-option {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      font-size: 16px;
      cursor: pointer;
      user-select: none;
      color: #333;
      display: flex;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      // Кастомный кружок для радио-кнопки
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 50%;
      }

      // Кастомный заполненный кружок, когда кнопка выбрана
      input:checked + &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-color: $green ; // Цвет заполненного кружка
        border-radius: 50%;
      }

      input:checked + & {
        color: $green; // Меняет цвет текста при выборе
      }

      &:hover::before {
        border-color: $green;
      }
    }

    .back-next{
        display: flex;
        justify-content: space-between;
        align-items: center;

.btn-back{
border: none;
}
.btn-next{
    border: none;
}

    }
  }
}
