@charset "UTF-8";
.main-header {
  background-color: black;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgba(236, 247, 225, 0.043);
          box-shadow: 0 2px 4px rgba(236, 247, 225, 0.043);
  max-width: 1920px;
  width: 100%;
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo {
  margin-left: 3%;
}
.main-header .header-conteiner .logo img {
  width: 80px;
  height: 80px;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  gap: 15px;
}
.main-header .header-conteiner li {
  margin: 0px 35px 14px 0px;
  padding-top: 2%;
}
.main-header .header-conteiner li a {
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: rgb(2, 234, 29);
  text-decoration: none;
}
.main-header .header-conteiner a {
  display: block;
  margin-right: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner a .btn-discuss {
  color: white;
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}
.main-header .header-conteiner a .btn-discuss:hover, .main-header .header-conteiner a .btn-discuss:focus {
  color: rgb(2, 234, 29);
  text-decoration: none;
}

@media (max-width: 1280px) {
  .main-header {
    width: 100%;
    max-width: 1280px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 15px;
  }
  .main-header .header-conteiner a .btn-discuss {
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
    font-weight: 500;
    height: 40px;
  }
}
@media (max-width: 1024px) {
  .main-header {
    width: 100%;
    max-width: 1024px;
  }
  .main-header .header-conteiner .logo .logo-next {
    margin-right: 4px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 15px;
  }
  .main-header .header-conteiner a .btn-discuss {
    height: 34px;
  }
}
@media (max-width: 760px) {
  .main-header {
    width: 100%;
    max-width: 760px;
  }
  .main-header .header-conteiner .logo .logo-next {
    font-size: 17px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 13px;
  }
  .main-header .header-conteiner a {
    font-size: 13px;
  }
  .main-header a .btn-discuss {
    height: 25px;
    font-size: 13px;
    max-width: 130px;
  }
}
@media (max-width: 460px) {
  .main-header {
    width: 90%;
    max-width: 460px;
  }
  .main-header .header-conteiner {
    padding: 8px;
  }
  .main-header .header-conteiner .logo .logo-next {
    font-size: 10px;
    margin-right: 5px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 9px;
    margin-right: 7px;
    margin-left: 5px;
  }
  .main-header .header-conteiner .ul-header li {
    margin-top: 0px;
    margin-left: -6px;
  }
  .main-header .header-conteiner .ul-header li a {
    font-size: 8px;
  }
  .main-header .header-conteiner a .btn-discuss {
    height: 20px;
    font-size: 9px;
    max-width: 90px;
  }
}
@media (max-width: 420px) {
  .main-header {
    width: 100%;
    max-width: 420px;
  }
  .main-header .header-conteiner .logo a {
    font-size: 8px;
  }
  .main-header .header-conteiner .ul-header li {
    margin-top: 0px;
    margin-left: -6px;
  }
  .main-header .header-conteiner .ul-header li a {
    font-size: 8px;
  }
  .main-header .header-conteiner a .btn-discuss {
    font-size: 8px;
    max-width: 79px;
  }
}
.section3-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.block-top .process-top {
  font-size: 40px;
  margin-top: 22px;
  margin-left: 42px;
  font-weight: 400;
  color: white;
}
.block-top .process-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-top .process-buttom .main-text {
  opacity: 0;
  font-size: 82px;
  line-height: 84px;
  font-weight: 600;
  text-align: center;
  margin: 80px 20px;
}
.block-top .process-buttom .main-text.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
  color: rgba(191, 246, 202, 0.5490196078);
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  width: 750px;
  margin-left: 40%;
  margin-top: 20px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3 {
  opacity: 0;
  font-size: 45px;
  line-height: 42px;
  margin-bottom: 22px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: rgba(191, 246, 202, 0.5490196078);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom .text-h4 {
  opacity: 0;
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 15px;
  font-weight: 400;
}
.block-top .process-buttom .process-buttom-buttom .text-h4.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 6s ease-in-out;
          animation: fadeIn 6s ease-in-out;
  color: rgba(191, 246, 202, 0.5490196078);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  gap: 50px;
}
.block-top .arrows .prev,
.block-top .arrows .next {
  width: 70px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.block-top .arrows .prev i,
.block-top .arrows .next i {
  color: white;
  font-size: 50px;
}
.block-top .arrows .prev:hover i,
.block-top .arrows .next:hover i {
  color: rgb(2, 234, 29); /* Изменение цвета при наведении */
}

.scroll-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Горизонтальное расположение карточек */
  gap: 20px; /* Расстояние между карточками */
  overflow-x: auto; /* Включить горизонтальный скролл */
  padding: 20px; /* Отступы внутри контейнера */
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; /* Фиксация скролла на карточках */
}
.scroll-conteiner .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px; /* Фиксированная ширина карточки */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101616;
  border-radius: 20px;
  width: 336px;
  margin: 0 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 10px;
  scroll-snap-align: center; /* Фиксация карточки в центре экрана при скролле */
  text-align: center;
}
.scroll-conteiner .card h4 {
  font-size: 33px;
  font-weight: 400;
  color: white;
  padding: 20px 0;
}
.scroll-conteiner .card p {
  font-size: 20px;
  font-weight: 300;
  color: #93a5a3;
  padding: 0 10px 25px;
  line-height: 27px;
}

.btn-discuss {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 8px;
  margin-top: 8px;
}

@media (max-width: 1280px) {
  .section3-process .block-top .process-top {
    font-size: 35px;
  }
  .section3-process .block-top .process-buttom .main-text {
    font-size: 83px;
    line-height: 78px;
    margin: 70px 20px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h3 {
    font-size: 45px;
    line-height: 40px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h4 {
    font-size: 35px;
    line-height: 40px;
  }
  .section3-process .block-top .arrows .prev i {
    font-size: 55px;
  }
  .section3-process .block-top .arrows .next i {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .section3-process .block-top .process-buttom .main-text {
    font-size: 66px;
    line-height: 66px;
    margin: 50px 20px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h3 {
    font-size: 38px;
    line-height: 38px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h4 {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 10px;
  }
  .section3-process .block-top .arrows .prev i {
    font-size: 45px;
  }
  .section3-process .block-top .arrows .next i {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .section3-process .block-top .process-top {
    font-size: 30px;
  }
  .section3-process .block-top .process-buttom .main-text {
    font-size: 50px;
    line-height: 50px;
    margin: 40px 20px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom {
    margin-left: 70%;
    margin-top: 1%;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h3 {
    font-size: 27px;
    line-height: 25px;
    max-width: 400px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h4 {
    font-size: 21px;
    line-height: 25px;
    max-width: 400px;
    margin-bottom: 0;
  }
  .section3-process .block-top .arrows {
    margin-left: 3%;
    gap: 10px;
  }
  .section3-process .block-top .arrows .prev i {
    font-size: 40px;
  }
  .section3-process .block-top .arrows .next i {
    font-size: 40px;
  }
  .section3-process .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%; /* На мобильных карточки будут занимать 90% ширины экрана */
  }
}
@media (max-width: 460px) {
  .section3-process {
    width: 100%;
    max-width: 460px;
  }
  .section3-process .block-top .process-top {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .section3-process .block-top .process-buttom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .section3-process .block-top .process-buttom .main-text {
    font-size: 23px;
    line-height: 23px;
    margin: 25px 50px;
    max-width: 350px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom {
    margin-left: 15%;
    margin-top: 1%;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h3 {
    font-size: 15px;
    line-height: 15px;
    max-width: 350px;
    margin-bottom: 1%;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h4 {
    font-size: 14px;
    line-height: 15px;
    max-width: 350px;
  }
  .section3-process .block-top .arrows {
    margin-left: 1%;
    gap: 1px;
    margin-bottom: 1%;
  }
  .section3-process .block-top .arrows .prev i {
    font-size: 25px;
  }
  .section3-process .block-top .arrows .next i {
    font-size: 25px;
  }
}
@media (max-width: 420px) {
  .section3-process {
    width: 100%;
    max-width: 420px;
  }
  .section3-process .block-top .process-buttom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .section3-process .block-top .process-buttom .main-text {
    margin: 22px 30px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom {
    margin-left: 35%;
    margin-top: 1%;
    max-width: 250px;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h3 {
    font-size: 15px;
    line-height: 15px;
    max-width: 350px;
    margin-bottom: 1%;
  }
  .section3-process .block-top .process-buttom .process-buttom-buttom .text-h4 {
    font-size: 14px;
    line-height: 15px;
    max-width: 350px;
  }
  .section3-process .block-top .arrows {
    margin-left: 1%;
    gap: 1px;
    margin-bottom: 1%;
  }
  .section3-process .block-top .arrows .prev i {
    font-size: 25px;
  }
  .section3-process .block-top .arrows .next i {
    font-size: 25px;
  }
  .section3-process .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%; /* На мобильных карточки будут занимать 90% ширины экрана */
  }
}