@import "variables.scss";
@import "mixins.scss";
@import "header_style.scss";

.section3-process {
  display: flex;
  background-color: black;
  flex-direction: column;
  
}

.block-top {
  display: flex;
  flex-direction: column;
  align-items: start;

  .process-top {
    font-size: $sectionFont-Sise;
    margin-top: $sectionMargin-top;
    margin-left: $sectionMargin-left;
    font-weight: $sectionFont-weight;
    color: $textcolor;
  }

  .process-buttom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    .main-text {
      opacity: 0;
      font-size: 82px;
      line-height: 84px;
      font-weight: 600;
      text-align: center;
      margin: 80px 20px;
      

      &.fade-in {
        opacity: 1;
        @include fade-in-text(2s, $ligthgreen);
      }
    }

    .process-buttom-buttom {
      display: flex;
      flex-direction: column;
      text-align: start;
      width: 750px;
      margin-left: 40%;
      margin-top: 20px;

      .text-h3 {
        opacity: 0;
        font-size: 45px;
        line-height: 42px;
        margin-bottom: 22px;

        &.fade-in {
          opacity: 1;
          @include fade-in-text(4s, $ligthgreen);
        }
      }

      .text-h4 {
        opacity: 0;
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 15px;
        font-weight: 400;

        &.fade-in {
          opacity: 1;
          @include fade-in-text(6s, $ligthgreen);
        }
      }
    }
  }


}

.scroll-conteiner{
  display: flex; 
  gap: 20px; 
  overflow-x: auto; /* Включить горизонтальный скролл */
  padding: 20px; 
  scroll-snap-type: x mandatory; /* Фиксация скролла на карточках */
  width: 100%; /* Контейнер растягивается на 100% */

  &::-webkit-scrollbar {
    height: 8px; 
    background-color: #222; /* Фон скроллбара */
    border-radius: 10px; 
}

&::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Цвет бегунка */
    border-radius: 10px; 
    border: 2px solid #222; /* Пространство вокруг бегунка */
}

&::-webkit-scrollbar-thumb:hover {
    background-color: #00ff1e; /* Цвет бегунка при наведении */
}

&::-webkit-scrollbar-track {
    background-color: #111; /* Цвет трека (фона) */
    border-radius: 10px;
}

  .card {
    flex: 0 0 336px; /* Фиксированная ширина карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101616;
    border-radius: 20px;
    margin: 0 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 10px;
    scroll-snap-align: center; /* Фиксация карточки в центре экрана при скролле */
    text-align: center;

    h4 {
      font-size: 33px;
      font-weight: 400;
      color: $textcolor;
      padding: 20px 0;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      color: #93a5a3;
      padding: 0 10px 25px;
      line-height: 27px;
    }
  }
}

.btn-discuss {
  border: none;
  background-color: transparent;
  color: $textcolor;
  font-size: 25px;
  font-weight: 600;
  padding: 8px;
  margin-top: 8px;
  
  &:hover{
    color: #00ff1e;
  }
}

@media (max-width: 1280px) {
  .section3-process {
    .block-top {
      .process-top {
        font-size: 35px;
      }
      .process-buttom {
        .main-text {
          font-size: 83px;
          line-height: 78px;
          margin: 70px 20px;
        }
        .process-buttom-buttom {
          .text-h3 {
            font-size: 45px;
            line-height: 40px;
          }
          .text-h4 {
            font-size: 35px;
            line-height: 40px;
          }
        }
      }
      .arrows .prev i {
        font-size: 55px;
      }
      .arrows .next i {
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section3-process {
    .block-top {
      .process-buttom {
        .main-text {
          font-size: 66px;
          line-height: 66px;
          margin: 50px 20px;
        }
        .process-buttom-buttom {
          .text-h3 {
            font-size: 38px;
            line-height: 38px;
          }
          .text-h4 {
            font-size: 27px;
            line-height: 33px;
            margin-bottom: 10px;
          }
        }
      }
      .arrows .prev i {
        font-size: 45px;
      }
      .arrows .next i {
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 768px) {
  .section3-process {
    .block-top {
      .process-top {
        font-size: 30px;
      }
      .process-buttom {
        .main-text {
          font-size: 50px;
          line-height: 50px;
          margin: 40px 20px;
        }
        .process-buttom-buttom {
          margin-left: 70%;
          margin-top: 1%;

          .text-h3 {
            font-size: 27px;
            line-height: 25px;
            max-width: 400px;
          }
          .text-h4 {
            font-size: 21px;
            line-height: 25px;
            max-width: 400px;
            margin-bottom: 0;
          }
        }
      }
      .arrows {
        margin-left: 3%;
        gap: 10px;
        .prev i {
          font-size: 40px;
        }
        .next i {
          font-size: 40px;
        }
      }
    }
    .card {
      flex: 0 0 90%; /* На мобильных карточки будут занимать 90% ширины экрана */
  }
  }
}

@media (max-width: 460px) {
  .section3-process {
    width: 100%;
    max-width: 460px;
    .block-top {
      
      .process-top {
        font-size: 17px;
        margin-top: 10px;
        margin-left: 10px;
      }
      .process-buttom {
        align-items: start;
        .main-text {
          font-size: 23px;
          line-height: 23px;
          margin: 25px 50px;
          max-width: 350px;
        }
        .process-buttom-buttom {
          margin-left: 15%;
          margin-top: 1%;

          .text-h3 {
            font-size: 15px;
            line-height: 15px;
            max-width: 350px;
            margin-bottom: 1%;
          }
          .text-h4 {
            font-size: 14px;
            line-height: 15px;
            max-width: 350px;
            
          }
        }
      }
      .arrows {
        margin-left: 1%;
        gap: 1px;
        margin-bottom: 1%;
        .prev i {
          font-size: 25px;
        }
        .next i {
          font-size: 25px;
        }
      }
    }

  }
}

@media (max-width: 420px) {
  .section3-process {
    width: 100%;
    max-width: 420px;
    .block-top {
      
      
      .process-buttom {
        align-items: start;
        .main-text {
          margin: 22px 30px;
        }
        .process-buttom-buttom {
          margin-left: 35%;
          margin-top: 1%;
          max-width: 250px;

          .text-h3 {
            font-size: 15px;
            line-height: 15px;
            max-width: 350px;
            margin-bottom: 1%;
          }
          .text-h4 {
            font-size: 14px;
            line-height: 15px;
            max-width: 350px;
            
          }
        }
      }
      .arrows {
        margin-left: 1%;
        gap: 1px;
        margin-bottom: 1%;
        .prev i {
          font-size: 25px;
        }
        .next i {
          font-size: 25px;
        }
      }
    }
    .card {
      flex: 0 0 90%; /* На мобильных карточки будут занимать 90% ширины экрана */
  }
  }
}

