@import "variables.scss";
@import "mixins.scss";



.section-services {
  display: flex;
  flex-direction: column;
  background-image: url("../img/render89.png");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  .srvice-top {
    font-size: $sectionFont-Sise;
    margin-top: 70px;
    margin-left: $sectionMargin-left;
    font-weight: $sectionFont-weight;
    color: $textcolor;
    margin-bottom: 100px;
  }

  .service-buttom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 30px;

    .sevrice-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 450px;
      width: 90%;
      height: 450px;
      border-radius: 20px;
      border: 1px solid #242b2b;

      &:hover{
        border: 1px solid $textcolor; 
      }

      img {
        width: 250px;
        height: 250px;
      }

      p {
        font-size: 35px;
        color: $textcolor;
        margin: 10px;
      }
    }
    p:nth-child(3){
        font-size: 23px;
        color:#bdccc3;
    }
  }

  .service-buttom2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-left: 40px;
    position: relative;


    .service-buttom2-h1{
        opacity: 0;
        font-size: 60px;
        color: #bdccc3;
        margin-top: 10%;
      
        &.fade-in {
            opacity: 1;
            @include fade-in-text(3s, $textcolor);
          }

    }

    .service-buttom2-h1-bottom{
        opacity: 0;
        font-size: 70px;
        line-height: 100px;
        color: #697977;
        margin-top: 6%;

        &.fade-in {
            opacity: 1;
            @include fade-in-text(3s, $textcolor);
          }
    }

    .button-robot {
        background: transparent;
        border: none;

        img{
          opacity: 0;
          background-color: transparent !important;
          position: absolute;
          bottom: -2%;
          left: 56%;
          width: 500px;
    

          &.fade-in {
            opacity: 1;
            @include fade-in(3s);
          }
        }
    }



  }
  
  .touch-with-me{
    margin-top: 15%;
    width: 500px;
    height: 80px;
    border: none;
    border-radius: 28px;
    background-color: $textcolor;
    color: #101616;
    font-size: 40px;
    font-weight: 600;
    margin-left: 4%;
    margin-bottom: 12%;
  }
}

@media(max-width: 1280px){
  
}

