.section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(black), color-stop(#01200a), to(#005d22));
  background: linear-gradient(to top, black, black, #01200a, #005d22);
}
.section-services .srvice-top {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 42px;
  font-weight: 400;
  color: #ebffeb;
  margin-bottom: 100px;
}
.section-services .service-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 0 30px;
}
.section-services .service-buttom .sevrice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 450px;
  width: 90%;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #242b2b;
}
.section-services .service-buttom .sevrice-box:hover {
  border: 1px solid #ebffeb;
}
.section-services .service-buttom .sevrice-box img {
  width: 250px;
  height: 250px;
}
.section-services .service-buttom .sevrice-box p {
  font-size: 35px;
  color: #ebffeb;
  margin: 10px;
}
.section-services .service-buttom p:nth-child(3) {
  font-size: 23px;
  color: #697977;
}
.section-services .service-buttom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  margin-left: 40px;
  position: relative;
}
.section-services .service-buttom2 .service-buttom2-h1 {
  opacity: 0;
  font-size: 60px;
  color: #697977;
  margin-top: 10%;
}
.section-services .service-buttom2 .service-buttom2-h1.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: #ebffeb;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .service-buttom2-h1-bottom {
  opacity: 0;
  font-size: 70px;
  line-height: 100px;
  color: #697977;
  margin-top: 6%;
}
.section-services .service-buttom2 .service-buttom2-h1-bottom.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
  color: #ebffeb;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 2%;
  left: 66%;
  max-width: 420px;
}
.section-services .service-buttom2 .button-robot img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot2 {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot2 img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 29%;
  left: 84%;
  width: 200px;
}
.section-services .service-buttom2 .button-robot2 img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .touch-with-me {
  margin-top: 15%;
  width: 500px;
  height: 80px;
  border: none;
  border-radius: 28px;
  background-color: #ebffeb;
  color: #101616;
  font-size: 40px;
  font-weight: 600;
  margin-left: 4%;
  margin-bottom: 12%;
}