@charset "UTF-8";
.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}
.main-header .header-conteiner .logo {
  font-weight: 500;
  font-style: normal;
  color: #ebffeb;
  margin-left: 2%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo .logo-next {
  margin-right: 15px;
}
.main-header .header-conteiner .logo a {
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .header-conteiner .logo a i {
  color: #ebffeb;
}
.main-header .header-conteiner .logo a:hover, .main-header .header-conteiner .logo a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebffeb;
  border-radius: 20px;
}
.main-header .header-conteiner li {
  margin: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.main-header .header-conteiner li a {
  color: #181d18;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner a {
  margin-right: 1%;
}
.main-header .header-conteiner a .btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}

.video-section2 {
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}
.video-section2 .video-class {
  width: 100%;
}
.video-section2 .video-class video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}
.main-header .header-conteiner .logo {
  font-weight: 500;
  font-style: normal;
  color: #ebffeb;
  margin-left: 2%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo .logo-next {
  margin-right: 15px;
}
.main-header .header-conteiner .logo a {
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .header-conteiner .logo a i {
  color: #ebffeb;
}
.main-header .header-conteiner .logo a:hover, .main-header .header-conteiner .logo a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebffeb;
  border-radius: 20px;
}
.main-header .header-conteiner li {
  margin: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.main-header .header-conteiner li a {
  color: #181d18;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner a {
  margin-right: 1%;
}
.main-header .header-conteiner a .btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}

.section3-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fbfae), to(#e2e3e3));
  background: linear-gradient(to bottom, #9fbfae, #e2e3e3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.block-top .process-top {
  font-size: 40px;
  margin-top: 22px;
  margin-left: 42px;
  font-weight: 400;
}
.block-top .process-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-top .process-buttom .main-text {
  opacity: 0;
  font-size: 120px;
  line-height: 95px;
  font-weight: 600;
  text-align: center;
  margin: 80px 20px;
}
.block-top .process-buttom .main-text.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
  color: #181d18;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  width: 750px;
  margin-left: 40%;
  margin-top: 20px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3 {
  opacity: 0;
  font-size: 50px;
  line-height: 42px;
  margin-bottom: 22px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: #181d18;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom .text-h4 {
  opacity: 0;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 60px;
  font-weight: 400;
}
.block-top .process-buttom .process-buttom-buttom .text-h4.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 6s ease-in-out;
          animation: fadeIn 6s ease-in-out;
  color: #181d18;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
  gap: 50px;
}
.block-top .arrows .prev,
.block-top .arrows .next {
  width: 70px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.block-top .arrows .prev i,
.block-top .arrows .next i {
  color: #181d18;
  font-size: 60px;
}
.block-top .arrows .prev:hover i,
.block-top .arrows .next:hover i {
  color: #ebffeb; /* Изменение цвета при наведении */
}

.block-carusel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding-right: 2%;
}
.block-carusel .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101616;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 10px;
}
.block-carusel .block h4 {
  font-size: 33px;
  font-weight: 400;
  color: #ebffeb;
  padding: 20px 0;
}
.block-carusel .block p {
  font-size: 25px;
  font-weight: 300;
  color: #93a5a3;
  padding: 0 10px 25px;
  line-height: 39px;
}

.btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}

.section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #101616;
}
.section-services .srvice-top {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 42px;
  font-weight: 400;
  color: #ebffeb;
  margin-bottom: 100px;
}
.section-services .service-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 0 30px;
}
.section-services .service-buttom .sevrice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 450px;
  width: 90%;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #242b2b;
}
.section-services .service-buttom .sevrice-box:hover {
  border: 1px solid #ebffeb;
}
.section-services .service-buttom .sevrice-box img {
  width: 250px;
  height: 250px;
}
.section-services .service-buttom .sevrice-box p {
  font-size: 35px;
  color: #ebffeb;
  margin: 10px;
}
.section-services .service-buttom p:nth-child(3) {
  font-size: 23px;
  color: #697977;
}
.section-services .service-buttom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  margin-left: 40px;
  position: relative;
}
.section-services .service-buttom2 .service-buttom2-h1 {
  opacity: 0;
  font-size: 60px;
  color: #697977;
  margin-top: 10%;
}
.section-services .service-buttom2 .service-buttom2-h1.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: #ebffeb;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .service-buttom2-h1-bottom {
  opacity: 0;
  font-size: 70px;
  line-height: 100px;
  color: #697977;
  margin-top: 6%;
}
.section-services .service-buttom2 .service-buttom2-h1-bottom.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
  color: #ebffeb;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 2%;
  left: 66%;
  max-width: 420px;
}
.section-services .service-buttom2 .button-robot img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot2 {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot2 img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 29%;
  left: 84%;
  width: 200px;
}
.section-services .service-buttom2 .button-robot2 img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .touch-with-me {
  margin-top: 15%;
  width: 500px;
  height: 80px;
  border: none;
  border-radius: 28px;
  background-color: #ebffeb;
  color: #101616;
  font-size: 40px;
  font-weight: 600;
  margin-left: 4%;
  margin-bottom: 12%;
}

.modal-window-answer {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}
.modal-window-answer .modal-wrapper {
  background-color: white;
  margin: 20% auto;
  padding: 27px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  /* Стиль для кнопки закрытия */
}
.modal-window-answer .modal-wrapper .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}
.modal-window-answer .modal-wrapper input, .modal-window-answer .modal-wrapper textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-window-answer .modal-wrapper input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.modal-window-answer .modal-wrapper input[type=submit]:hover {
  background-color: #2f8132;
}
.modal-window-answer .modal-wrapper #contact-form {
  font-size: 23px;
}
.modal-window-answer .modal-wrapper #contact-form h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.section-costs {
  background-color: #101616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}
.section-costs .section-cost-top {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 42px;
  font-weight: 400;
  color: #ebffeb;
  margin-bottom: 60px;
}
.section-costs .costs-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.section-costs .costs-top .cost-section-left {
  width: 38%;
  margin-left: 2%;
  text-align: start;
}
.section-costs .costs-top .cost-section-left h1 {
  font-size: 40px;
  line-height: 45px;
  color: #ebffeb;
  padding-top: 1%;
}
.section-costs .costs-top .cost-section-rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.section-costs .costs-top .cost-section-rigth .cost-section2,
.section-costs .costs-top .cost-section-rigth .cost-section3,
.section-costs .costs-top .cost-section-rigth .cost-section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ebffeb;
  width: 80%;
  gap: 15px;
  text-align: start;
  margin-bottom: 4%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2::after,
.section-costs .costs-top .cost-section-rigth .cost-section3::after,
.section-costs .costs-top .cost-section-rigth .cost-section4::after {
  content: "";
  display: block;
  width: 550px;
  height: 0.5px;
  background-color: rgb(61, 65, 64);
  margin-top: 15px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1 h2,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1 h2,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 h2 {
  font-size: 30px;
  color: #ebffeb;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok1 p,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok1 p,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok1 p {
  color: #ebffeb;
  font-size: 15px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok2,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok2,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok2 p,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok2 p,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok2 p {
  font-size: 17px;
  color: rgb(115, 120, 119);
  margin-bottom: 2%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3 .btn-discuss,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3 .btn-discuss,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 .btn-discuss {
  background-color: transparent;
  color: #ebffeb;
  font-size: 25px;
}
.section-costs .costs-top .cost-section-rigth .cost-section2 .blok3 .what-include,
.section-costs .costs-top .cost-section-rigth .cost-section3 .blok3 .what-include,
.section-costs .costs-top .cost-section-rigth .cost-section4 .blok3 .what-include {
  font-size: 22px;
  text-decoration: underline;
  color: rgb(115, 120, 119);
}
.section-costs .costs-top .btn-costs {
  border: none;
  width: 500px;
  background-color: #ebffeb;
  color: #181d18;
  height: 77px;
  border-radius: 28px;
  font-size: 30px;
  margin-bottom: 10%;
  cursor: pointer;
}
.section-costs .costs-top .btn-costs:hover {
  background-color: rgb(58, 139, 128);
}
.section-costs .floating-label {
  position: absolute;
  background-color: #ebffeb;
  color: #181d18;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 11px rgb(58, 139, 128);
          box-shadow: 0px 2px 11px rgb(58, 139, 128);
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-costs .label1 {
  top: 22%;
  left: 10%;
}
.section-costs .label1 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label2 {
  top: 13%;
  left: 36%;
}
.section-costs .label2 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label3 {
  top: 48%;
  left: 4%;
}
.section-costs .label3 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label4 {
  top: 58%;
  left: 84%;
}
.section-costs .label4 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label5 {
  top: 83%;
  left: 7%;
}
.section-costs .label5 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label6 {
  top: 20%;
  left: 62%;
}
.section-costs .label6 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label7 {
  top: 24%;
  left: 88%;
}
.section-costs .label7 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label8 {
  top: 65%;
  left: 20%;
}
.section-costs .label8 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .label9 {
  top: 79%;
  left: 76%;
}
.section-costs .label9 i {
  margin-right: 10px;
  font-size: 25px;
  color: #181d18;
}
.section-costs .more-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}
.section-costs .more-services .btn-more-services {
  position: relative;
  border: none;
  background-color: transparent;
  color: #ebffeb;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-costs .more-services .btn-more-services::before, .section-costs .more-services .btn-more-services::after {
  content: "";
  display: block;
  width: 600px;
  height: 0.5px;
  background-color: #ebffeb;
  margin: 0 20px;
}
.section-costs .more-services .btn-more-services:hover::before, .section-costs .more-services .btn-more-services:hover::after {
  background-color: rgb(58, 139, 128);
}

.modal-more-services {
  display: none;
  background-color: #ebffeb;
  border: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  width: 1300px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-more-services .close-modal-more {
  font-size: 40px;
  color: #181d18;
  margin-left: 2%;
}
.modal-more-services .more-services-wrapper {
  padding: 0 2% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-more-services .more-services-wrapper .more-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-more-services .more-services-wrapper .more-top .more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50%;
}
.modal-more-services .more-services-wrapper .more-top .more-section::after {
  content: "";
  display: block;
  width: 500px;
  height: 0.5px;
  background-color: #181d18;
  margin-bottom: 3%;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left h1 {
  font-size: 22px;
  color: #181d18;
  margin-bottom: 10px;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-left p {
  font-size: 15px;
  color: rgb(32, 58, 49);
  max-width: 95%;
  margin-bottom: 15px;
}
.modal-more-services .more-services-wrapper .more-top .more-section .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 250px;
  margin-bottom: 20px;
}
.modal-more-services .more-services-wrapper .more-top .more-section h3 {
  font-size: 17px;
  color: #181d18;
  text-align: end;
}
.modal-more-services .more-services-wrapper .more-top .more-section h2 {
  font-size: 17px;
  color: #181d18;
}
.modal-more-services .more-services-wrapper .more-buttom {
  margin: auto;
  margin-bottom: 1%;
}
.modal-more-services .more-services-wrapper .more-buttom .btn-discuss {
  border: none;
  background-color: #181d18;
  color: #ebffeb;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 270px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}

.modal-calculete-costs {
  display: none;
  background-color: #ebffeb;
  padding: 1%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-calculete-costs .close-modal-costs {
  font-size: 18px;
  color: #181d18;
}
.modal-calculete-costs .costs-wrapper {
  max-width: 800px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-calculete-costs .costs-wrapper h3:first-of-type {
  font-size: 20px;
  color: #181d18;
  margin-bottom: 3%;
}
.modal-calculete-costs .costs-wrapper p:first-of-type {
  font-size: 15px;
  color: #181d18;
  margin-bottom: 5%;
}
.modal-calculete-costs .costs-wrapper .radio-option {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-calculete-costs .costs-wrapper .radio-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.modal-calculete-costs .costs-wrapper .radio-option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
}
input:checked + .modal-calculete-costs .costs-wrapper .radio-option::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: rgb(58, 139, 128);
  border-radius: 50%;
}
input:checked + .modal-calculete-costs .costs-wrapper .radio-option {
  color: rgb(58, 139, 128);
}
.modal-calculete-costs .costs-wrapper .radio-option:hover::before {
  border-color: rgb(58, 139, 128);
}
.modal-calculete-costs .costs-wrapper .back-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-calculete-costs .costs-wrapper .back-next .btn-back {
  border: none;
}
.modal-calculete-costs .costs-wrapper .back-next .btn-next {
  border: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

.main-conteiner {
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
}