@import "header_style.scss";
@import "variables.scss";
@import "videoSection_style.scss";
@import "processSection.scss";
@import "servicesSection.scss";
@import "modalAnswer.scss";
@import "costs.scss";
@import "modalMoreServices.scss";
@import "modal_WhatIsincludeInPrice.scss";
@import "review";
@import "modalReview.scss";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
scroll-behavior: smooth;
}

ul li{
    list-style: none;
}

.main-conteiner{
    max-width: 1920px;
    font-family: "Roboto", sans-serif;
}