@charset "UTF-8";
.main-header {
  background-color: #1c3035;
  position: fixed;
  z-index: 1000;
  width: 1920px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main-header .header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}
.main-header .header-conteiner .logo {
  font-weight: 500;
  font-style: normal;
  color: #ebffeb;
  margin-left: 2%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .header-conteiner .logo .logo-next {
  margin-right: 15px;
}
.main-header .header-conteiner .logo a {
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .header-conteiner .logo a i {
  color: #ebffeb;
}
.main-header .header-conteiner .logo a:hover, .main-header .header-conteiner .logo a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner .ul-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
  background-color: #ebffeb;
  border-radius: 20px;
}
.main-header .header-conteiner li {
  margin: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-right: 35px;
}
.main-header .header-conteiner li a {
  color: #181d18;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.main-header .header-conteiner li a:hover, .main-header .header-conteiner li a:focus {
  color: black;
  text-decoration: none;
}
.main-header .header-conteiner .btn-discuss {
  border: none;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 22px;
  border-radius: 20px;
  margin-right: 25px;
  width: 250px;
  font-weight: 600;
  height: 50px;
  padding: 8px;
  margin-top: 8px;
}

.video-section2 {
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}
.video-section2 .video-class {
  width: 100%;
}
.video-section2 .video-class video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section3-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#9fbfae), to(#e2e3e3));
  background: linear-gradient(to bottom, #9fbfae, #e2e3e3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.block-top .process-top {
  font-size: 40px;
  margin-top: 22px;
  margin-left: 42px;
  font-weight: 400;
}
.block-top .process-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-top .process-buttom .main-text {
  opacity: 0;
  font-size: 120px;
  line-height: 95px;
  font-weight: 600;
  text-align: center;
  margin: 80px 20px;
}
.block-top .process-buttom .main-text.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 2s ease-in-out;
          animation: fadeIn 2s ease-in-out;
  color: #181d18;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  width: 750px;
  margin-left: 40%;
  margin-top: 20px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3 {
  opacity: 0;
  font-size: 50px;
  line-height: 42px;
  margin-bottom: 22px;
}
.block-top .process-buttom .process-buttom-buttom .text-h3.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: #181d18;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .process-buttom .process-buttom-buttom .text-h4 {
  opacity: 0;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 60px;
  font-weight: 400;
}
.block-top .process-buttom .process-buttom-buttom .text-h4.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 6s ease-in-out;
          animation: fadeIn 6s ease-in-out;
  color: #181d18;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block-top .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
  gap: 50px;
}
.block-top .arrows .prev,
.block-top .arrows .next {
  width: 70px;
  height: 70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.block-top .arrows .prev i,
.block-top .arrows .next i {
  color: #181d18;
  font-size: 60px;
}
.block-top .arrows .prev:hover i,
.block-top .arrows .next:hover i {
  color: #ebffeb; /* Изменение цвета при наведении */
}

.block-carusel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.block-carusel .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101616;
  border-radius: 20px;
  width: 450px;
  height: 460px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 10px;
}
.block-carusel .block h4 {
  font-size: 33px;
  font-weight: 400;
  color: #ebffeb;
  padding: 20px 0;
}
.block-carusel .block p {
  font-size: 25px;
  font-weight: 300;
  color: #93a5a3;
  padding: 0 10px 25px;
  line-height: 39px;
}

.button-project {
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  background-color: #ebffeb;
  color: #181d18;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #101616;
}
.section-services .srvice-top {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 42px;
  font-weight: 400;
  color: #ebffeb;
  margin-bottom: 100px;
}
.section-services .service-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 0 30px;
}
.section-services .service-buttom .sevrice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 600px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #242b2b;
}
.section-services .service-buttom .sevrice-box:hover {
  border: 1px solid #ebffeb;
}
.section-services .service-buttom .sevrice-box img {
  width: 250px;
  height: 250px;
}
.section-services .service-buttom .sevrice-box p {
  font-size: 35px;
  color: #ebffeb;
  margin: 10px;
}
.section-services .service-buttom p:nth-child(3) {
  font-size: 23px;
  color: #697977;
}
.section-services .service-buttom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  margin-left: 40px;
  position: relative;
}
.section-services .service-buttom2 .service-buttom2-h1 {
  opacity: 0;
  font-size: 100px;
  font-weight: 600;
  line-height: 110px;
  color: #697977;
  margin-top: 10%;
}
.section-services .service-buttom2 .service-buttom2-h1.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 4s ease-in-out;
          animation: fadeIn 4s ease-in-out;
  color: #ebffeb;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .service-buttom2-h1-bottom {
  opacity: 0;
  font-size: 100px;
  line-height: 119px;
  color: #697977;
  margin-top: 5%;
}
.section-services .service-buttom2 .service-buttom2-h1-bottom.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
  color: #ebffeb;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 2%;
  left: 64%;
  width: 525px;
}
.section-services .service-buttom2 .button-robot img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .service-buttom2 .button-robot2 {
  background: transparent;
  border: none;
}
.section-services .service-buttom2 .button-robot2 img {
  opacity: 0;
  background-color: transparent !important;
  position: absolute;
  bottom: 29%;
  left: 82%;
  width: 250px;
}
.section-services .service-buttom2 .button-robot2 img.fade-in {
  opacity: 1;
  -webkit-animation: fadeIn 8s ease-in-out;
          animation: fadeIn 8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-services .touch-with-me {
  margin-top: 15%;
  width: 650px;
  height: 80px;
  border: none;
  border-radius: 28px;
  background-color: #ebffeb;
  color: #101616;
  font-size: 45px;
  font-weight: 600;
  margin-left: 4%;
  margin-bottom: 12%;
}

/* Основной стиль для модального окна */
.modal-window-answer {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}
.modal-window-answer .modal-wrapper {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  /* Стиль для кнопки закрытия */
}
.modal-window-answer .modal-wrapper .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.modal-window-answer .modal-wrapper input, .modal-window-answer .modal-wrapper textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-window-answer .modal-wrapper input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.modal-window-answer .modal-wrapper input[type=submit]:hover {
  background-color: #45a049;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

.main-conteiner {
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
}