$darkgreen: #181d18;
$ligthgreen: #ebffeb;
$backgraundDark: #101616;
$green: rgb(58 139 128);
$textcolor: #798a8d;
$headerbackground: #1c3035;




$sectionFont-Sise: 40px;
$sectionMargin-top: 22px;
$sectionMargin-left: 42px;
$sectionFont-weight: 400;
