$darkblue: #012854;
$lightblue: #d0f1ff8c;
$backgraundDark: #101616;
$blue: rgb(2, 214, 234);
$textcolor: #798a8d;





$sectionFont-Sise: 40px;
$sectionMargin-top: 22px;
$sectionMargin-left: 42px;
$sectionFont-weight: 400;
