$darkgreen: hsl(115, 100%, 15%);
$ligthgreen: #bff6ca8c;
$backgraundDark: #101616;
$green: rgb(2, 234, 29);
$textcolor: white;





$sectionFont-Sise: 40px;
$sectionMargin-top: 22px;
$sectionMargin-left: 42px;
$sectionFont-weight: 400;
